<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search For a Topic</h1>
    <form method="post" action="{{ url_for('search') }}">
        <label for="topic">Enter Topic To Search:</label>
        <input type="text" id="topic" name="topic" required>
        <button type="submit">Search</button>
    </form>
    <br>
    <a href="{{ url_for('input_form') }}">Go Back</a>
</body>
</html>
